/* Main */
a {
    color: #9d9ca4;    
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.btn-primary {
    background-color: #3e4551 !important;
    border-color: #3e4551 !important;
}

.btn-primary:hover {
    background-color: #323741 !important;
    border-color: #ffffff !important;
}

/* Header */
.bg-light {
    background-color: #3e4551 !important;
}

.bg-light a {
    color: #ffffff !important;
}

.bg-light a:hover {
    text-decoration: underline;
}

.navbar-toggler {
    color: #3e4551 !important;
    border-color: #3e4551 !important;
    background-color: #ffffff !important;
}

/* Footer */
.page-footer {
    color: #ffffff;
    background-color: #3e4551;
}

.btn-fb {
    font-size: 2em;
}

.btn-fb:hover {
    color: #3b5998;
}

.btn-tw {
    font-size: 2em;
}

.btn-tw:hover {
    color: #55acee; 
}

.btn-gplus {
    font-size: 2em;
}

.btn-gplus:hover {
    color: #dd4b39;
}

.btn-li {
    font-size: 2em;
}

.btn-li:hover {
    color: #0082ca;
}